.App {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  background-color: lightgray;
  border: 1px solid;
  color: white;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
}

.decrement-button{
  background-color: red;
  border-color: rgb(110, 2, 2);
}

.total-likes {
  margin: 0px 10px 0px 10px
}

.increment-button {
  background-color: green;
  border-color: rgb(0, 69, 0);
}

